* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.bg-nav {
    background-color: #1E202B;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-size: 14px;
    padding: 0 20px;
    margin-inline: 10px;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: all .5s;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #009ad8;
    border-color: #009ad8;
}

#main {
    background-image: url(../images/imgi_7_banner.png);
    background-repeat: no-repeat;
}

input {
    border: none;
    padding: 16px 50px 16px 20px;
    outline: none;
    color: white;
    font-size: 14px;
}

button.btn {
    padding: 11px 35px;
    font-size: 14px;
}

.row .card {
    background-color: #323544 !important;
}

.card .card-header {
    background-color: #2D303D;
}

.row .card:nth-child(2) {
    background-color: #262936 !important;
}

.card:nth-child(2) .card-header {
    background-color: #222531 !important;
}

.card {
    color: #bfc1c8 !important;
    padding: 0;
}

.card-body {
    padding: 30px 20px;
}

.card-body span {
    font-size: 90px;
    font-weight: 700;
    color: white;
    vertical-align: middle;
}

.card-body img {
    width: 90px;
}

.card-text {
    font-size: 14px;
    color: #009ad8 !important;
}

.card-footer {
    border: none;
    padding: 0 16px 30px 16px;
}

.card-footer img {
    width: 21px;
}

.card-footer span {
    margin-right: 20px;
}

.card-footer span p {
    margin-right: 5px;
}

footer {
    background-color: #262936;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1e202b;
    transition: all .5s;
}

.social-links i {
    color: #009ad8;
    transition: all .5s;
}

.social-links a:hover i {
    color: white;
}

.social-links a:hover {
    background-color: #009ad8;
}

footer p {
    color: #bfc1c8;
    font-size: 14px;
}

@media (max-width: 992px) {
    .navbar .container {
        max-width: 95%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 0;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    .navbar-collapse {
        background-color: #262936;
        border-radius: 15px;
        text-align: center;
        padding: 15px 0;
    }

    .navbar-collapse .navbar-nav a.nav-link:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}